* {
    margin : 0;
}

.container {
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    padding: 8px 8px;
}

.container img {
    width: 50%;
}

.nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;;
}

.nav-wrapper a {
    text-decoration: none;
    color: black;
    padding-left: 10px;
    font-size: 18px;
    font-weight: bolder;
    text-decoration:underline;
}

.header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightpink;
}

#image-wrapper img {
    width: 50%;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 40px;
    padding-left: 10px;
}

#header-text p {
    padding-left: 10px;
}

#header-text button {
    margin: 10px 0px 0px 10px;
    font-size: 20px;
    background-color: aquamarine;
    color: white;
    border-radius: 2px;
    border: white;
    font-weight: 100;
}

h2 {
    text-align: center;
    font-size: 38px;
    padding: 20px 0px 10px 0px;
}

#about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightyellow;
    padding-bottom: 20px;
}

#about-container {
    background-color: lightyellow;
    
}

#about-wrapper p {
    width: 50%;
    padding-top: 20px;
}

#img-about img {
    border-radius: 6px;
    width: 90%;
}

#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom : 50px;
}

#discord-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

#discord-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    width: 50%;
}

#discord-wrapper p {
    padding-top: 20px;
    width: 90%;
}

#discord-flex img {
    height: 250px;
}

#discord-background {
    background-color: lightseagreen;
    padding-bottom: 50px;
}

#contact-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 600px;
    padding-bottom: 50px;
}

#contact-background {
    background-color: lightblue;
}

input, textarea {
    margin-bottom: 25px;
}

button {
    color : white;
    background-color: rgb(118, 218, 248);
    border-radius: 4px;
    font-size: 16px;
    border: 2 px solid white;
}

#footer-links li {
    text-decoration: none;
    color: black;
    list-style: none;

}

#footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-links a {
    padding-left: 15px;
    color: black;
    text-decoration: none;
}
#footer-background {
    background-color: bisque;
    padding-bottom: 50px;
    
}

#footer-background img {
    max-width: 450px;
    text-align: center;
}

#flex-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

#img-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}

@media (max-width: 728px) {
    .header-wrapper {
        flex-direction: column;
        height: 80vh;;
    }

    #header-text {
        text-align: center;
    }

    #header-text p {
        padding: 10px 10px;
    }

    #btnsubmit {
        padding: 10px 10px;
    }

    figure img {
        padding-top: 20px;
    }

    #wrapper {
        flex-direction: column;
    }

    #about-wrapper p {
        font-size: 14px;
    }

    #img-about img {
        padding-left: 15px;
        border-radius: 4px;
    }

    #discord-flex {
        flex-direction: column-reverse;
    }

    #discord-flex img {
        max-width: 350px;
    }

    #contact-wrapper {
        max-width: 250px;
    }

    #img-footer img {
        max-width: 150px;
    }

}